body {
	color: white;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.tile {
	left: 45%;
	top: 45%;
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10%;
	height: 10%;
	background-color: black;
	border-radius: 100%;

	transition: 0.2s;
}