@font-face {
	font-family: SuperMarioScript;
	src: url("../assets/fonts/SuperMarioScript2Demo-Regular.ttf");
}

@font-face {
	font-family: SuperMarioTitle;
	src: url("../assets/fonts/SuperMario.ttf");
}

:root {
    /*text*/
	--yellow: #e8bd51;
	--bold-highlight: #020094;

    --red-outline:#c13134;
    --red-fill: #d77e78;

    --yellow-outline: rgb(240, 240, 240);
    --yellow-fill: #f3e040;

    --green-outline: rgb(240, 240, 240);
    --green-fill: #89d858;

    --dark-gray: #484848;


    /*grid*/
	--light-tile: #bebaa1;
	--dark-tile: #8f8a6d;
    --selected-tile: cyan;
    --confirming-tile: darkcyan;
}

body {
	font-size: 1.2em;
	font-family: SuperMarioScript;
	color: black;
	margin: 0px;

	overflow-x: hidden;
}

h1 {
	font-family: SuperMarioTitle;
	font-size: 3em;
	font-weight: normal;

	text-align: center;

	color: var(--yellow);
}

.bold {
	color: var(--bold-highlight);
}
