@font-face {
  font-family: SuperMarioScript;
  src: url("../assets/fonts/SuperMarioScript2Demo-Regular.ttf");
}

@font-face {
  font-family: SuperMarioTitle;
  src: url("../assets/fonts/SuperMario.ttf");
}

:root{
    --yellow: #f5d541;
    --bold-highlight: #020094;
}

body {
    font-size: 1.2em;
    font-family: SuperMarioScript;
	color: black;
    margin: 0px;

    overflow-x: hidden;
}

h1 {
    font-family: SuperMarioTitle;
    font-size: 3em;
    font-weight: normal;

    text-align: center;

    color: var(--yellow);
}

.bold{
    color: var(--bold-highlight);
}