#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header > #header-left-side{
    padding-left: 25px;
}
#header > #header-right-side{
    padding-right: 5px;
}

#tutorial-button{
    width: 75px;
    height: 75px;
    background-image: url(../assets/sprites/PMTOK_question_mark_indicator.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#tutorial-button:hover{
    cursor: pointer;
}